<div class="container mt-5 mb-5">
    <h2 class="text-center">New Book</h2>
    <form action="/books" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields")  %> 
        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Submit</button>
            <a href="/books" type="submit" class="btn btn-secondary ">Cancle</a>
        </div>
    </form>
</div>