<div class="container mt-5">
    <h2 class="text-center">New Author</h2>
    <form action="/authors" method="POST">
        <%- include("_form_fields")  %> 
        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Submit</button>
            <a href="/authors" type="submit" class="btn btn-secondary ">Cancle</a>
        </div>
    </form>
</div>